{% extends "base.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block head %}

<script>
    const searchForOperation = () => {
        const searchInputValue = document.getElementById("search").value;
        window.location.href = `/api/v1/pages/not-found/${searchInputValue}`;
    }
</script>

{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<div class="order-form">
    <p>
        <label for="search">Search:</label>
        <input type="text" id="search">
    </p>
    <p><button type="submit" onclick="searchForOperation()">Place order</button></p>
</div>

{% if name %}
<div id="main" class="product-list">
    {% for product in product_by_name %}
    <div class="item">
        <a href="/api/v1/pages/{{ product.category.slug }}/{{ product.slug }}">
            <img src="{{ url_for('static', path=product.image) }}">
        </a>
        <a href="/api/v1/pages/{{ product.category.slug }}/{{ product.slug }}">{{ product.name }}</a>
        <br>
        ${{ product.price }}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock content %}