<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <title>{% block title %} My shop {% endblock title %}</title>
    {% block head %}

    {% endblock %}
</head>
<body>
    <div id="header">
        <a href="/api/v1/pages" class="logo">My shop</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% if get_total_quantity > 0 %}
             Your cart:
             <a href="/api/v1/pages/cart">
                 {{ get_total_quantity }}  item{{ "s" if get_total_quantity != 1 else "" }},
                 ${{ get_total_price }}
             </a>
             {% else %}
                Your cart is empty.
             {% endif %}
        </div>
    </div>
    <div id="content">
    {% block content %}

    {% endblock content %}
    </div>

</body>
</html>